.fp {
    background-image: url('/forgot_password.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
    width: 100vw;
    min-height: 100vh;
}

.fpInner {
    display: flex;
    min-height: min(calc(100vh - 0.0rem));
    justify-content: center;
    align-items: center;
}

.fpDiv {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    row-gap: 0.9375rem;
    align-items: flex-start;
    justify-content: center;
    width: 35rem;
    margin-top: 5rem;
    /* height: 28.375rem; */
    padding: 2.5rem;

}
@media (max-width: 35rem) {
    .fpDiv {
        /* height: 100%; */
        margin: 0;
    }
}

.blackText {
    color: black;
}

.radio {
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 0.3125rem;
    margin-left: 1.25rem;
}

.rpInp {
    display: flex;
    gap: 0.625rem;
}

.fpForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.25rem;
    margin: 1.25rem 0.0rem 1.25rem;
}

.fpInput {
    height: 1.875rem;
    color: black;
}