.registrationMain {
  padding-top: 30px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.registrationInner {
  display: flex;
  text-align: left;
  width: 40%;
  flex-direction: column;
  row-gap: 20px;
}

.check {
  display: flex;
  column-gap: 8px;
}

.registrationInputs {
  color: #000;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px 5px;
  font-size: 13.4px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registrationInputs:focus+label {
  font-size: 10px;
  top: -47px;
}

.registrationInputs:not(:placeholder-shown)+label {
  position: relative;
  left: 10px;
  color: #000;
  font-size: 10px;
  top: -47px;
}

.registrationInputs:-webkit-autofill {
  font-size: 13.4px;
  padding: 20px 10px 5px !important;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
  -webkit-background-clip: text;
}

.registrationInputs:-webkit-autofill:not(:placeholder-shown)+label {
  font-size: 10px;
  top: -47px;
}

.register {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.errorMessage {
  color: red;
}

.errorInput {
  border: 1px solid red;
}