.verificationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.codeInputs {
  display: flex;
  gap: 0.625rem;
}

.codeInput {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  border: 0.0625rem solid #000000;
  border-radius: 0.3125rem;
}

#verificationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.875rem;
}

.codeInput[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.codeError {
  border: 0.0625rem solid red;
}

.errorMessage {
  color: red;
}