.sp{
    background-image: url('../../../public/forgot_password.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.sp-inner{
    display: flex;
    min-height: min(calc(100vh - 0px));
    justify-content: center;
    align-items: center;
}
.sp-div{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.sp-form{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.sp-label{
    position: relative;
    color: black;
    top: 8px;
}

.errormessage{
    color: red;
}

.password{
    color: black;
}