.es {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/email_send.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.esInner {
    display: flex;
    row-gap: 0.625rem;
    flex-direction: column;
    justify-content: center;
}