.es {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../public/email_send.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.esInner {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
}